extends ../layouts/adminLayout.pug

block content
  .container.mt-5
    h1.mb-4 Actualización de Item

    form#updateForm.needs-validation(novalidate)
      .row
        .col-md-6.mb-3
          label.form-label(for="fileInput") Imagen:
          .input-group
            input.form-control(type="file" id="fileInput" name="image" accept="image/*")
            button.btn.btn-outline-secondary(type="button" id="previewButton") Vista previa
            button.btn.btn-outline-danger(type="button" id="cancelButton") Cancelar
        
        .col-md-6.mb-3
          if item.img
            img#preview.img-fluid(src=item.img, alt="Imagen actual")
          else
            img#preview.img-fluid(src="Not found", alt="Vista previa")
      
      .mb-3
        label.form-label(for="text") Texto:
        textarea.form-control(id="text" name="text" rows="3" required)= item.text
      
      .mb-3
        label.form-label(for="enable") Enable:
        select.form-select(id="enable" name="enable" required)
          option(value="true" selected=item.enable) True
          option(value="false" selected=!item.enable) False
      
      input(type="hidden" id="img" name="img" value=item.img)
      input(type="hidden" id="itemId" name="itemId" value=item.id)
      
      button.btn.btn-primary(type="button" id="submitButton") Actualizar
      a.btn.btn-primary(href=`/admin/item/${item.id}`) Cancelar
    script( src="/js/adminEdition/itemUpdate.js")