extends ../../layouts/adminLayout.pug
include ../../mixins/imageUpload.pug

block content
  .container.mt-5
    h1.mb-4 Actualización de Proyecto

    form#updateForm.needs-validation(novalidate)
      .row
        .col-md-6.mb-3
          +imageUpload('fileLogo', 'Logo', 'logoPreview', 'logoUrl', page.info.logo)

        .col-md-6.mb-3
          +imageUpload('fileLanding', 'Landing', 'landingPreview', 'landingUrl', page.info.landing)
         
        .mb-3
          label.form-label(for="title") Titulo:
          input.form-control(id="title" name="title" rows="3" value= page.info.title required)
      
        .mb-3
          label.form-label(for="info_header") Info_header:
          textarea.form-control(id="info_header" name="info_header" rows="3" required)= page.info.infoHeader

        .mb-3
          label.form-label(for="info_body") Info_body:
          textarea.form-control(id="info_body" name="info_body" rows="3" required)= page.info.infoBody

        .mb-3
          label.form-label(for="url") Url:
          input.form-control(id="url" name="url" rows="3" value= page.info.url required)
      
        .mb-3
          label.form-label(for="enable") Enable:
          select.form-select(id="enable" name="enable" required)
            option(value="true" selected=page.info.enable) True
            option(value="false" selected=!page.info.enable) False
      
        input(type="hidden" id="logo" name="logo" value=page.info.logo)
        input(type="hidden" id="landing" name="landing" value=page.info.landing)
        input(type="hidden" id="id" name="id" value=page.info.id)
      
    button.btn.btn-primary.mb-3(type="button" id="submitButton") Actualizar
    a.btn.btn-primary.mb-3(href=`/admin/page/${page.info.id}`) Volver
    script( src="/js/adminEdition/pageUpdate.js")

